@import '../../../assets/wxss/var.scss';  

.service-card{position:relative;font-size:26rpx;color:$black;height:291rpx;box-sizing:border-box;padding:87rpx 30rpx 33rpx 212rpx;background:#fff;margin-top:20rpx;
    .service-name{margin-bottom:29rpx;line-height:30rpx;padding-top:10rpx;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;}
    .iconfont{font-size:inherit;}
    .store-entrance{position:absolute;left:0;top:0;font-size:$m;display:inlin-block;line-height:90rpx;text-indent:30rpx;}
    image{position:absolute;left:30rpx;top:87rpx;width:160rpx;height:160rpx;border-radius:10rpx;}
    .service-type{color:$gray;font-size:$m;margin-bottom:20rpx;}
    .service-price{color:$red;font-size:38rpx;
        &::before{content:'￥';font-size:$m;}
        &::after{content:'/套';font-size:$m;}}
}

.pay-ways{padding:0 30rpx 0 128rpx;background: #fff;font-size:$xl;color:$lightBlack;
    
    label{display: flex; align-items: center;height: 100rpx;position: relative;border-bottom:$border;
        image{width:48rpx;height:48rpx;position:absolute;left:-96rpx;top:26rpx;}
        text{flex:1;}
        radio .wx-radio-input{width:40rpx;height:40rpx;font-size:30rpx;}
    } 

    .tip{font-size: $m;color:$gray;padding:32rpx 30rpx 26rpx 0;}
}

.final-price{flex:1;text-align: right;font-size:$m;
    text{color:$red;font-size:38rpx;margin-left:10rpx;
        &::before{content:'￥';font-size:$m;}
    }
}

.submit{background: #FF8000;height: 98rpx;line-height:98rpx;color:#fff;width:208rpx;font-size: $xl;border-radius: 4rpx;margin:0 30rpx;}
