@import '../../../assets/wxss/var.scss'; 

.project{position:relative;display:flex;align-items:center;justify-content:center;padding:35rpx 0 36rpx;border-bottom:$border;color:$gray;background: #fff;box-sizing:border-box;
    &.mine{width:718rpx;margin:21rpx auto 0;border-radius: 20rpx;border-bottom: none;padding: 40rpx 0 40rpx 32rpx;}

    .info{width:530rpx;
        .title{display:flex;width:100%; align-items: center;
            .name{max-width:430rpx;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:34rpx;color:black;font-weight:600;}
            .urgent{width:60rpx;line-height: 30rpx;color:#fff;background: #FC5B31;border-radius:99rpx 99rpx 99rpx 0;font-size: $s;text-align: center;margin-left:5rpx;}
        }
        .tags{width:100%;padding:24rpx 0 28rpx;height:40rpx;overflow: hidden;zoom:1;
            label{display:block;float:left;padding:0 12rpx;margin-right:12rpx;margin-bottom:28rpx;font-size:$s;height:40rpx;line-height:40rpx;background:#f5f5f5;}
            .type{color:$darkBlue;background:rgba(0, 131, 255, .1);}}
        .price{font-size:30rpx;color:$red;font-weight:600;}
        .read{font-size:$m;margin-left:20rpx;padding-left:20rpx;display:inline-block;line-height:17rpx;border-left:$border;}
        
    }

    .apply{width:140rpx;text-align:center;
        button{font-size:$l;width:140rpx;height:60rpx;line-height:60rpx;background:$darkBlue;border-radius:6px;color:#fff;margin-bottom:20rpx;}
        button.myself{background:$orange;}
        .hot{font-size:$s;line-height:$s;color:#bbb;}
    }
    
    .other-info{position: absolute;right:29rpx;bottom:40rpx;font-size:$m;color:$gray; }
}



