@import '../../../assets/wxss/var.scss';  

.tabs{padding-top:20rpx;
    .tab{width:20%;font-size:32rpx!important;}
}
.reset-blog-card{width:718rpx;box-sizing: border-box;border-radius:20rpx;margin: 24rpx auto 0;}
