@import '../../../assets/scss/var.scss';  
page{background: #fff;}
.reset-tabs{width:50%;margin:30rpx 0 0!important;font-size: $xl!important;}

.types{width:100%;padding:32rpx 0;white-space:nowrap;box-sizing:border-box;}
.type{font-size:$l;line-height:60rpx;margin-right:$m;color:$lightBlack;background:#f7f7f7;padding:0 36rpx;border-radius:99rpx;display:inline-block;
    &:first-of-type{margin-left:30rpx;}
    &.active{color:$darkBlue;background:#e5f2ff;font-weight:500;}}
