page{background: #fff;}
.entrances{display: flex;align-items: center;position: fixed;bottom:199rpx;left:0;width:100%;box-sizing:border-box;padding:0 90rpx;
    view{flex:1;text-align:center;font-size:28rpx;color:#333;
        image{width:118rpx;height:118rpx;margin-bottom: 6rpx;}
        text{display: block;}
    }
}