@import '../../../assets/wxss/var.scss';
@import '../../../assets/font/icons.wxss';

.store-name{text-indent: 88rpx;font-weight: 600;color:$black;}
.store-desc{width:100%;line-height: 30rpx; align-items: center; padding:0 30rpx;display: flex;font-size:$l;box-sizing:border-box;background:#fff;
    view{flex: 1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding:10rpx 0 45rpx;}
    navigator{padding-left:55rpx;padding:10rpx 0 55rpx 45rpx;}
}

.tabs{
    .tab:nth-of-type(1){margin-left:30rpx;}
}

.store-detail{width:100%;}

.action-bar .bar{padding:0 30rpx;box-sizing: border-box;}
.store-info{flex: 1;height:91rpx;font-size: 26rpx;line-height: 91rpx;
    image{width:91rpx;height: 91rpx;border-radius: 50%;margin-right: 18rpx;vertical-align: middle;}
    text{margin-right: 37rpx;display:inline-block;vertical-align: middle;}
}
.action{padding-left: 50rpx;text-align:center;
    .iconfont{font-size: 35rpx;margin-bottom:10rpx;}
    .name{font-size: 26rpx;line-height: 26rpx;}
    &.lighten{color:$red;}
}
