@import '../../../assets/wxss/var.scss'; 
@import '../../../assets/font/icons.wxss';

.qa{position:relative;padding:42rpx 28rpx 35rpx;border-bottom:$border;color:$gray;background: #fff;box-sizing:border-box;margin:0 auto 20rpx;

    &.collection{width:718rpx;border-radius: 20rpx;margin:20rpx auto;
        .collect{position:absolute;bottom:40rpx;right:30rpx;width:140rpx;height:52rpx;line-height:52rpx;border:2rpx solid rgba(229,229,229,1);font-size:$m;text-align:center;
            .iconfont{margin-right:9rpx;
                &.icon-yishoucang{color:$red;}}}}

    .title{font-weight:500;font-size:34rpx;color:black;
        text{vertical-align: middle;}
        .reward{padding:0 15rpx;line-height:35rpx;background: #FFC034;color:#fff;border-radius:99rpx;font-size: $s;margin-right: 16rpx;font-weight: 600;vertical-align: middle;}
    }
    .tags{display: flex;width:100%; align-items: center;padding:24rpx 0 28rpx;
        .skills{height:40rpx;overflow: hidden;zoom:1;flex:1;
            label{display:block;float:left;padding:0 12rpx;margin-right:12rpx;margin-bottom:28rpx;font-size:$s;height:40rpx;line-height:40rpx;background:#f5f5f5;}
            .type{color:$darkBlue;background:rgba(0, 131, 255, .1);}}
        .status{padding:0 10rpx;border-radius: 6rpx;color:$red;border:1rpx solid $red;font-size: $s;line-height: 26rpx;}
    }

    .other-info{position:relative;display: flex;height: 54rpx;line-height: 54rpx;font-size:$m;align-items:center;
        image{width:46rpx;height:46rpx;border-radius: 50%;border:4rpx solid #fff;position:absolute;top:0;
            &:nth-of-type(1){z-index: 4;left:0;}
            &:nth-of-type(2){z-index: 3;left:40rpx;}
            &:nth-of-type(3){z-index: 2;left:80rpx;}
            &:nth-of-type(4){z-index: 1;left:120rpx;}
        }

        .tip{flex: 1;color:$lightBlack;}
        .iconfont{font-size: 28rpx;margin-right:11rpx;color:$gray;}
        .read{color:$gray;}
        
    }
}



