@import '../../../assets/wxss/var.scss';  

.service-card{position:relative;font-size:26rpx;color:$black;width:100%;height:294rpx;padding:90rpx 30rpx 44rpx 210rpx;box-sizing:border-box;background:#fff;margin:20rpx auto 0;
    .service-name{margin-bottom:32rpx;min-height:80rpx;padding-top:10rpx;}
    .iconfont{font-size:inherit;}
    .store-entrance{position:absolute;left:0;top:0;font-size:$m;display:inlin-block;line-height:90rpx;text-indent:30rpx;}
    image{position:absolute;left:30rpx;top:90rpx;width:160rpx;height:160rpx;border-radius:10rpx;}
    .service-name{min-height:60rpx;line-height:30rpx;}
    .service-type{color:$gray;font-size:$m;}}

.input-box{padding:0 30rpx;background: #fff;margin-bottom:20rpx;font-size:$xl;color:$lightBlack;
    .title{padding:49rpx 0 28rpx;border-bottom:$border;
        text{font-size: $m;color:$lightGray;margin-left:10rpx;}
    }

    .info{display:flex;align-items:center;height:116rpx;border-bottom:$border;
        .input{margin-left:20rpx;min-height:$xl;flex:1;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
    }

    .desc{position:relative;background:#fff;width:100%;height:236rpx;
        textarea,.placeholder{display:block;box-sizing:border-box;padding:27rpx $s;background:#fafafa;width:100%;height:100%;font-size:$l;line-height:48rpx;}
        .conLen{position:absolute;bottom:20rpx;right:20rpx;font-size:$m;color:$lightGray;z-index:$bottomFloor;}
        .placeholder{position:absolute;color:$lightGray;top:0;left:0;}}
}

.service-price{flex:1;text-align: right;font-size:$m;
    text{color:$red;font-size:38rpx;margin-left:10rpx;
        &::before{content:'￥';font-size:$m;}
        &::after{content:'.00';font-size:$m;}
    }
}
.submit{background: #FF8000;height: 98rpx;line-height:98rpx;color:#fff;width:208rpx;font-size: $xl;border-radius: 4rpx;margin:0 30rpx;}






