@import '../../../assets/wxss/var.scss'; 
@import '../../../assets/font/icons.wxss';

.blog{padding:32rpx 30rpx 36rpx;border-bottom:$border;background:#fff;

    .title{display:block;color:$black;font-size:$xl;line-height:48rpx;font-weight:bold;margin-bottom:28rpx;}
    .pre-view{color:$gray;font-size:26rpx;line-height:40rpx;}

    .one-img{display: flex;
        view{flex:1;height:156rpx;overflow: hidden;}
        image{width:224rpx;height:156rpx;margin-left:41rpx;}
    }
   
    .three-img{
        .imgs{display: flex;align-items: center;justify-content: space-between;
            image{width:224rpx;height:156rpx;}
        }
    }
    
    .other-info{display:flex;align-items:center;color:$gray;font-size:$m;margin-top:34rpx;
        .publish-time{flex:1;
            text{display:inline-block;padding:4rpx 8rpx;color:#f00;line-height:18rpx !important;border:1rpx solid #f00;border-radius:4rpx;margin-left:24rpx;font-size:18rpx;vertical-align:middle;}}
        .iconfont{color:$lightGray;font-size:26rpx;margin-right:12rpx;}}}



