@import '../../../assets/wxss/var.scss';  

.status-progressing{background: #fff;margin-top:24rpx;padding:0 30rpx 54rpx;position: relative;
    progress{padding:72rpx 0;margin-bottom:56rpx;}
    .steps,.step-names{display: flex;align-items: center;justify-content:space-between;width:100%;height: 149rpx;box-sizing:border-box;position: absolute;left:0;top:0;z-index: 1;padding:0 30rpx;
        .step{width:26rpx;height: 26rpx;border:3rpx solid #fff;background: #0083FF;border-radius:50%;text-align: center;
            .iconfont{color:#fff;font-size: 20rpx;visibility: hidden;vertical-align: middle;}
        }
        &.progress0{
            .step:nth-of-type(1){width:42rpx;height:42rpx;border:8rpx solid #CCE6FF;
                .iconfont{visibility: visible;}
            }
        }
        &.progress33{
            .step:nth-last-of-type(n+3){width:42rpx;height:42rpx;border:8rpx solid #CCE6FF;
                .iconfont{visibility: visible;}
            }
        }
        &.progress66{
            .step:nth-last-of-type(n+2){width:42rpx;height:42rpx;border:8rpx solid #CCE6FF;
                .iconfont{visibility: visible;}
            }
        }
        &.progress100{
            .step{width:42rpx;height:42rpx;border:8rpx solid #CCE6FF;
                .iconfont{visibility: visible;}
            }
        }
    }
    .step-names{height: 30rpx;top:120rpx;color:$gray;font-size:26rpx;
        &.progress0 view:nth-of-type(1){color:$black;}
        &.progress33 view:nth-last-of-type(n+3){color:$black;}
        &.progress66 view:nth-last-of-type(n+2){color:$black;}
        &.progress100 view{color:$black;}
    }

    .info{color:$gray;font-size: 26rpx;
        text{font-size: 41rpx;color:$red;}
    }
}

.action{margin-top:26rpx;width:122rpx;height:52rpx;line-height: 52rpx;border:$border;font-size: $m;color:$black;text-align: center;}

.status-done{background-image: linear-gradient(to right , #0D70FF, #5D9FFF);padding:30rpx;color:#fff;
    .info{font-size: 26rpx;line-height:74rpx;
        text{font-size: 41rpx;}
        text.iconfont{font-size: 26rpx;}
        navigator{display:inline;color:#FFF000;}
    }
}

.order-infos{background: #fff;padding:0 30rpx;color:$black;margin-top:20rpx;
    .title{font-size: $xl;border-bottom: $border;padding:35rpx 0 23rpx;margin-bottom:30rpx;}
    .service{padding-left:180rpx;position: relative;height: 160rpx;margin-bottom:38rpx;
        image{width:160rpx;height: 160rpx;border-radius: 10rpx;position: absolute;left:0;bottom:0;}
        .name{margin-top:14rpx;font-size: 26rpx; }
        .price{font-size:38rpx;position: absolute;bottom:15rpx;left:180rpx;
            &::before{content:'￥';font-size:$m;}
            &::after{content:'/套';font-size:$m;}}
    }

    .info{display: flex;align-items: flex-start;font-size:$l;padding-bottom:38rpx;
        view{color:$gray;flex:1;}
        text{display:inline-block;max-width: 400rpx;}
        .iconfont{color:$darkBlue;font-size: 36rpx;margin-right:16rpx;}
        &.action-bar{border-top: $border;align-items: center;height: 88rpx;padding: 0;}
        .action{margin:0;}
    }

    .requirement{font-size: 26rpx;margin-top: 36rpx;padding-bottom: 47rpx;}

    &.refund{background: #fff;padding:28rpx 30rpx 0;}
}



